Repository cashubtc/cdk, pull requests merged in 2024-12, with the labels that each got.

#483 fix(mint): signal support for opt nuts
  crates/cdk-mintd/src/main.rs
  crates/cdk/src/mint/builder.rs
  crates/cdk/src/nuts/nut06.rs
  crates/cdk/src/nuts/nut17/mod.rs
Labels: mint

#458 Add support for pure integration tests
  Cargo.lock
  crates/cdk-cli/src/main.rs
  crates/cdk-cli/src/sub_commands/mint_info.rs
  crates/cdk-integration-tests/Cargo.toml
  crates/cdk-integration-tests/src/lib.rs
  crates/cdk-integration-tests/tests/fake_wallet.rs
  crates/cdk-integration-tests/tests/integration_tests_pure.rs
  crates/cdk-integration-tests/tests/regtest.rs
  crates/cdk/src/nuts/nut04.rs
  crates/cdk/src/nuts/nut05.rs
  crates/cdk/src/wallet/client.rs
  crates/cdk/src/wallet/keysets.rs
  crates/cdk/src/wallet/melt.rs
  crates/cdk/src/wallet/mint.rs
  crates/cdk/src/wallet/mod.rs
  crates/cdk/src/wallet/proofs.rs
  crates/cdk/src/wallet/receive.rs
  crates/cdk/src/wallet/swap.rs
Labels: ready

#457 feat: remove redundant bool mpp flag
  crates/cdk/src/mint/builder.rs
  crates/cdk/src/nuts/nut15.rs
Labels: NUT change

#446 feat: nut-20 signature on mint witness
  Cargo.lock
  crates/cdk-integration-tests/src/lib.rs
  crates/cdk-integration-tests/tests/fake_wallet.rs
  crates/cdk-integration-tests/tests/mint.rs
  crates/cdk-integration-tests/tests/regtest.rs
  crates/cdk-redb/src/mint/migrations.rs
  crates/cdk-sqlite/src/mint/migrations/20241108093102_mint_mint_quote_pubkey.sql
  crates/cdk-sqlite/src/mint/mod.rs
  crates/cdk-sqlite/src/wallet/migrations/20241108092756_wallet_mint_quote_secretkey.sql
  crates/cdk-sqlite/src/wallet/mod.rs
  crates/cdk/src/error.rs
  crates/cdk/src/mint/builder.rs
  crates/cdk/src/mint/mint_nut04.rs
  crates/cdk/src/mint/types.rs
  crates/cdk/src/nuts/mod.rs
  crates/cdk/src/nuts/nut04.rs
  crates/cdk/src/nuts/nut06.rs
  crates/cdk/src/nuts/nut20.rs
  crates/cdk/src/wallet/mint.rs
  crates/cdk/src/wallet/types.rs
  flake.lock
  flake.nix
Labels: enhancement, ready, new nut

#503 Add ArcSwap to update Mint configuration at runtime
  Cargo.lock
  crates/cdk-integration-tests/tests/integration_tests_pure.rs
  crates/cdk-integration-tests/tests/mint.rs
  crates/cdk/Cargo.toml
  crates/cdk/src/mint/config.rs
  crates/cdk/src/mint/info.rs
  crates/cdk/src/mint/keysets.rs
  crates/cdk/src/mint/melt.rs
  crates/cdk/src/mint/mint_nut04.rs
  crates/cdk/src/mint/mod.rs
Labels: enhancement, mint
